:root {
  --azul: #0099ff;
  --azul-claro: #dbf1ff;
}

body {
  background-color: #82cdff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winner-title {
  height: 74px;
  width: 430px;
  background-color: var(--azul);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 33px;
  font-weight: 700;
  border-radius: 12px 12px 0 0;
}

.scoreboard-container {
  width: 950px;
  height: 148px;
  background-color: var(--azul);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 17px;
}

.scoreboard-player-name {
  color: white;
  font-size: 38px;
  font-weight: 700;
}

.score-player-1, .score-player-2 {
  width: 130px;
  height: 120px;
  background-color: var(--azul-claro);
  border-radius: 17px;
  font-size: 104px;
  font-weight: 900;
  line-height: 120px;
  text-align: center;
  color: var(--azul);
}

.vs-small {
  color: white;
  font-weight: 900;
  font-size: 58px;
  margin: 0 10px;
}

.battle-field {
  margin-top: 56px;
  height: 414px;
  display: flex;
  flex-direction: row;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.button {
  width: 220px;
  height: 80px;
  background-color: var(--azul);
  font-size: 44px;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transform: 300ms;
  box-shadow: 3px 3px 10px black;
}

.button:hover {
  border: 1px solid var(--azul);
  background-color: var(--azul-claro);
  color: var(--azul);
  box-shadow: 1px 1px 1px black;
}

.field-box {
  width: 1313px;
  height: 414px;
  background-color: var(--azul);
  margin: 0 19px;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  box-sizing: border-box;
}

.field {
  width: 464px;
  height: 345px;
  background-color: var(--azul-claro);
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vs-big {
    font-size: 104px;
    color: white;
    font-weight: 900;
}

.config {
    margin-top: 22px;
}

.button-reset {
    margin-left: 101px;
}

.move-image {
    width: 70%;
}

.field-player-2{
    transform: scalex(-1);
}

.start{
  background-color: #9bff82;
}